:root {
  --blanco: #ffffff;
  --gris1: #f1f1f1;
  --gris2: #31482f;
  --gris3: #1c2d1a;
  --negro: #000000;
  --headingFont:'Fjalla One', sans-serif;
  --textFont:  'Merriweather', serif;
}
body{
  min-height: 100%;
  font-family: var(--textFont);
  font-size: 1.6rem;
}
/*LOGIN*/
.cotainer-login{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gris1);
}
.cotainer-login .card{
  width: 30%;
}
/*-------*/
form .form-row .form-group label{
  font-size: 1rem;
}
form .form-row .form-group label span{
  vertical-align: super;
  margin-left: 10px;
}

.card-header{
  text-align: center;
  background: var(--gris2);
  color: white;          
}
aside{
  background-color: var(--blanco);
  flex: 0 0 300px;
  padding: 3rem;
}
aside h2{
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}
aside h2 span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: var(--gris2);
}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}
.alert{
  font-size: 1rem;
  margin: 0;
  padding: 5px;
  /* background: rgb(236, 115, 115); */
  /* color:var(--blanco); */
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.container-main{
  flex: 1;
  background-color: var(--gris1);
}
/*HOME*/
.container-home{
  display: flex;
  min-height: 100vh;
}
/*-----*/

ul{
  list-style: none;
  padding: 0;
  
}
ul .option-menu{
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
}
ul .option-menu i{
  vertical-align: sub;
  padding: 15px 0;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--gris2);
  padding: 1rem;
}
.app-header p{
  margin: 0;
  color: white;
  
}
/*EQUIPOS*/
.container-equipos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 15px;
  margin: 20px 0;
}
.card-header h3{
  font-size: 1.1rem;
  margin: 0;
}
.card-body p{
  font-size: .9rem;
  text-align: center;
}
/*----*/

/*EQUIPOS*/
.container-equipos{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  row-gap: 10px;
}

h3{
  margin: 15px 0;
}
.card-footer{
  text-align: right;
}
h4{
  font-size: 1rem;
  margin: 0;
}
/*-----*/
.container-jugadores{
  display: grid;
  row-gap: 15px;
}
.jugador{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border-radius: 5px;
  padding: 5px;
}
.jugador-header{
  display: grid;
  grid-template-columns: repeat(4,1fr);

} 
.jugador  p{
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}
.tituloSeccion{
  margin: 20px 0;
}
.equipo{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  background-color: white;
  padding: 10px;
  /* border: 1px solid black; */
  
}
.equipo:hover{
  background-color: #e8ffe8;
  
  /* border: 1px solid black; */
  
}
.equipo.head{
  background: var(--gris2);
  color: white;
}
.equipo h4{
  text-align: center;
  /* border: 1px solid black; */
}
.container-partidos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 15px;
  column-gap: 15px;
}
.card-body.infoPartido{
  display: grid;
  grid-template-columns: 45% 10% 45%;
  row-gap: 15px;
}
.card-body.infoPartido p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.container-dpartido{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.local,.visitante{
  display: flex;
  justify-content: center;
  align-items: center;
}
.local,.visitante h2{
  /* display: flex;
  justify-content: space-around; */
}
.container-dpartido h2{
  text-align: center;
  
}
.container-botones{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.patido-jugado{
  background: green;
  color: white;
  border-radius: 5px;
}
.patido-nojugado{
  background: red;
  color: white;
  border-radius: 5px;
}
